@font-face {
	font-family: 'Cormier';
	src: url('/fonts/Cormier-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Metropolis';
	src: url('/fonts/Metropolis-Regular.woff') format('woff');
}
@font-face {
	font-family: 'Ornaments';
	src: url('/fonts/Metropolis-Ornaments.woff') format('woff');
}

@font-face {
	font-family: 'Valencia';
	src: url('/fonts/Valencia.woff') format('woff');
}

@font-face {
	font-family: 'Cormorant';
	src: url('/fonts/Cormorant-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'AlexBrush';
	src: url('/fonts/AlexBrush-Regular.ttf') format('truetype');
}

html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Valencia', sans-serif;
    font-weight: 400;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}