@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}


@font-face {
	font-family: 'BodoniModa';
	src: url('/fonts/BodoniModa-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
	font-family: 'BodoniModa';
	src: url('/fonts/BodoniModa-Italic.ttf') format('truetype');
    font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'BodoniModa';
	src: url('/fonts/BodoniModa-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
	font-family: 'BodoniModa';
	src: url('/fonts/BodoniModa-Bold.ttf') format('truetype');
    font-weight: 700;
}


html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
    font-weight: 300;
}