@font-face {
	font-family: 'Cormier';
	src: url('/fonts/Cormier_Regular.woff') format('woff');
}

@font-face {
	font-family: 'Metropolis';
	src: url('/fonts/Metropolis_Regular.woff') format('woff');
}
@font-face {
	font-family: 'Ornaments';
	src: url('/fonts/Metropolis_Ornaments.woff') format('woff');
}

@font-face {
	font-family: 'Valencia';
	src: url('/fonts/Valencia.woff') format('woff');
}
html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Valencia', sans-serif;
    font-weight: 400;
}