---
import type { CommonMedia } from "../../models/strapi/common/media";
import CommonStrapiImage from "../common/strapi/common-strapi-image.astro";

export interface Props {
  titre: string;
  description: string;
  image: CommonMedia;
}

const { titre, description, image } = Astro.props;
---

<div class="w-full h-screen relative">
  <CommonStrapiImage
    image={image}
    format="large"
    class="absolute z-1 object-cover object-center w-full h-full filter brightness-50"
  />
  <div class="absolute w-full h-full flex justify-center items-center z-10">
    <div class="flex flex-col text-bright">
      <h1 class="text-2xl">{titre}</h1>
      <h3>{description}</h3>
    </div>
  </div>
</div>
