---
import type { CommonMedia } from "../../models/strapi/common/media";
import CommonStrapiImage from "../common/strapi/common-strapi-image.astro";

export interface Props {
  video: CommonMedia;
  medias: CommonMedia[];
}

const { video, medias } = Astro.props;
---

<section id="medias" class="container md:my-56">
  <div class="py-20">
    <video controls class="m-auto lg:w-lg">
      <source src={video.url} />
    </video>
  </div>
  <div class="m-auto">
    <h2 class="font-cormier text-[56px] text-primary text-center">MEDIAS</h2>
    <div
      class="mt-16 columns-2 md:columns-4 lg:columns-5 table-fixed gap-4 space-y-4"
    >
      {
        medias.map((image, index) => (
          <div>
            <CommonStrapiImage
              data-swiper-name="media"
              data-swiper-index={index}
              image={image}
              class="max-w-full rounded-sm"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
