---
import type { CommonMedia } from "../../models/strapi/common/media";
import type { PageHeader } from "../../models/strapi/components/page.interface";
import CommonStrapiImage from "../common/strapi/common-strapi-image.astro";
import CafeVienneSvg from "../../assets/icons/cafe-vienne.svg?raw";
import CommonSvg from "../common/common-svg.astro";

export interface Props {
  entete: PageHeader;
}

const { titre, description, media } = Astro.props.entete;
---

<div class="w-full h-screen relative overflow-hidden">
  <CommonStrapiImage
    data-parallax="2"
    image={media.data.attributes}
    format="large"
    class="absolute z-1 object-cover object-center w-full h-full filter brightness-[30%]"
  />
  <div
    class="absolute w-full h-full flex flex-col gap-8 justify-center items-center z-10 text-primary"
  >
    <CommonSvg
      class="w-[20rem] h-[20rem] aspect-square drop-shadow-md"
      raw={CafeVienneSvg}
    />
    <h3
      class="text-bright font-bodoni text-2xl font-bold uppercase drop-shadow-lg"
    >
      {description}
    </h3>
  </div>
</div>
