---
import CuisineImage from "../../assets/images/cuisine.jpg";
---

<section
  class="w-full py-16 bg-cover bg-center"
  style={`background-image: url(${CuisineImage.src})`}
>
  <div
    class="max-w-screen-xl m-auto flex w-full justify-center items-center z-20"
  >
    <article class="w-3/5 p-8 bg-dark text-bright">
      <h2 class="text-4xl font-artdeco">Le chef vous propose</h2>
      <div
        class="flex flex-row justify-between items-center text-xl font-bodoni mb-8 border-b-primary border-b-2 py-4"
      >
        <span class="uppercase font-bold">Le plat du jour à</span>
        <span>16 €</span>
      </div>
      <div
        class="flex justify-between items-center font-bodoni text-xl border-t-primary border-t-2 py-4"
      >
        <p>Entrée et Desserts suggestions du chef</p>
        <span class="text-primary">5,50 €</span>
      </div>
    </article>
    <div class="w-2/5"></div>
  </div>
</section>
