---

---

<div
  class="prose text-bright prose-headings:m-0
prose-h2:text-bright prose-h2:font-cormier prose-h2:text-3xl prose-h2:mb-4
prose-h3:text-primary prose-h3:font-cormier prose-h3:text-3xl prose-h3:mb-2
prose-p:font-cormorant prose-strong:text-red-400 prose-strong:text-2xl"
>
  <slot />
</div>
