---
import CommonHeader from "../components/common/common-header.astro";

interface Props {
  title: string;
  lang: string;
}

const { title, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <CommonHeader />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-dark text-bright">
    <slot />
    <script is:inline>
      const mapVisibleParallax = new Map();
      const listParalax = document.querySelectorAll("[data-parallax]");
      var animationFrameInterval = null;
      var hasBeenScrolled = true;

      const onScrollLayout = () => {
        if (hasBeenScrolled) {
          mapVisibleParallax.values().forEach((element) => {
            const { top } = element.getBoundingClientRect();
            const parallaxScale = element.dataset.parallax;
            const middleY = (window.innerHeight - 96) / 2;
            const halfHeight = element.offsetHeight / 2 + top;
            element.style.transform = `translateY(${((middleY - halfHeight) * parallaxScale) / 10}px)`;
          });
        }
        hasBeenScrolled = false;
        animationFrameInterval = window.requestAnimationFrame(onScrollLayout);
      };

      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            mapVisibleParallax.set(
              entry.target.dataset.parallaxIndex,
              entry.target
            );
          } else {
            mapVisibleParallax.delete(entry.target.dataset.parallaxIndex);
          }
        });
      });

      listParalax.forEach((element, index) => {
        element.dataset.parallaxIndex = index;
        observer.observe(element);
      });

      window.addEventListener("scroll", () => {
        hasBeenScrolled = true;
      });

      onScrollLayout();
    </script>
  </body>
</html>
